@mixin divider($color: $--border-color-lighter) {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: $color;
  }
}
